@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(16px, 5vw, 1.2rem);

}

h2 {
  font-size: clamp(18px, 6vw, 1.5rem);
}

h3 {
  font-size: clamp(20px, 10vw, 4rem);
  font-weight: 900;
}

h4 {
  font-size: clamp(16px, 4vw, 1.1rem);
  line-height: 1.3;
  word-spacing: 2px;
}

h5 {
  font-size: clamp(8px, 4vw, .9rem);
  line-height: 1.2;
  opacity: 0.6;
  /* word-spacing: 2px; */
}

p {
  font-size: clamp(20px, 8vw, 2.5rem);
  line-height: 1.2;
  letter-spacing: -1px;
  word-spacing: 4px;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
}